.containerWindow {
  z-index: 2;
  position: fixed;
  overflow: hidden;
  width: 0;
  // TO DO Transition should go in mixin
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  &.expanded {
    width: 350px;
    // TO DO
    // Have to make width dynamic based on content width to match longer strings.
    // Fit-content shouldnt be used here transition animation won't work
  }
}

.container {
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  padding: 30px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  padding:10px 15px;
  .button {
    align-self: flex-start;
  }
}

.titleLabel {
  background-color: hsl(0, 1%, 84%);
  padding: 5px;
}

.profileContainer {
  display: inline;
  position: relative;
}

.icon {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.iconProfile {
  color: $baby_blue;
  width: 20px !important;
  height: 20px !important;
  z-index: -1;
}

.backIconContainer {
  padding: 15px 15px 0 15px;
  width: fit-content;

  .iconBack {
    width: 25px !important;
    color: $baby_blue !important;
    height: 25px !important;
    
  }
}

.collapseBtn {
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: solid 4px $charcoal;
  &:hover {
    cursor: pointer;
    .iconBack {
      color: $eggshell;
    }
  }
}
