.container {
  cursor: pointer;
  color: $charcoal;
  margin: 10px;
  width: fit-content;
  display: inline-block;
  background-color: white;
}

.titleContainer {
  padding: 10px;
  background-color: $green;
  display: flex;
  column-gap: 10px;
}

.footerContainer {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.containerRow {
  padding: 10px;
}

.nameTitle {
  font-size: 20px;
}

.contentContainer {

}